@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.wrapper {
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
  background-color: #fff;
  min-width: 0;
}

#sidebar {
  width: 70px;
  min-width: 70px;
  z-index: 1000;
  transition: all 0.25s ease-in-out;
  background-color: #4575f3;
  display: flex;
  flex-direction: column;
}

#sidebar.expand {
  width: 260px;
  min-width: 260px;
}

.toggle-btn {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  padding: 1.2rem 1.2rem;
}

.toggle-btn i {
  font-size: 2rem;
  color: #fff;
}

.hamburger {
  position: fixed;
  top: 0%;
}

.sidebar-logo {
  margin: auto 0;
}

.sidebar-logo a {
  color: #fff;
  font-size: 1.15rem;
  font-weight: 600;
}

.menu {
  opacity: 0%;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
  display: none;
}

#sidebar.expand .sidebar-logo,
#sidebar.expand a.sidebar-link span {
  animation: fadeIn 0.25s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.sidebar-nav {
  padding: 2rem 0;
  flex: 1 1 auto;
  position: fixed;
  top: 10%;
}

a.sidebar-link {
  padding: 0.625rem 1.1rem;
  color: #fff;
  display: block;
  font-size: 1.2rem;
  white-space: nowrap;
  border-left: 3px solid transparent;
}

.sidebar-footer {
  position: fixed;
  bottom: 10px;
}

.sidebar-link i,
.dropdown-item i {
  font-size: 1.5rem;
  margin-right: 0.75rem;
}

a.sidebar-link:hover {
  background-color: rgba(255, 255, 255, 0.075);
  border-left: 3px solid #ff781f;
}

.sidebar-item {
  position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
  position: absolute;
  top: 0;
  left: 70px;
  background-color: #0e2238;
  padding: 0;
  min-width: 15rem;
  display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown + .sidebar-dropdown {
  display: block;
  max-height: 15em;
  width: 100%;
  opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
  border: solid;
  border-width: 0 0.075rem 0.075rem 0;
  content: "";
  display: inline-block;
  padding: 2px;
  position: absolute;
  right: 1.5rem;
  top: 1.4rem;
  transform: rotate(-135deg);
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
  transform: rotate(45deg);
}

.navbar {
  background-color: #4575f3;
  box-shadow: 0 0 2rem 0 rgba(33, 37, 41, 0.1);
}

.navbar-expand .navbar-collapse {
  min-width: 200px;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 40px;
  width: 40px;
}

.dropdown-menu p {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid;
  padding-bottom: 8px;
  font-size: 16px;
  font-weight: 100;
}

.dropdown-menu li {
  padding-bottom: 5px;
}

.dropdown-menu a {
  color: #333;
}

.avatar {
  width: 40px;
  height: 40px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: rgba(128, 221, 19, 0.8);
  width: 22em;
}

.card-body {
  display: flex;
  justify-content: start;
  align-items: center;
}

.card-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.card-icon {
  background-color: rgba(255, 120, 31, 0.7);
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin-left: 20px;
}

.card-icon i {
  font-size: 60px;
  font-weight: lighter;
  color: #fff;
}

.graphBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
  min-height: 200px;
}

.graphBox .box {
  position: relative;
  background-color: rgba(128, 221, 19, 0.85);
  padding: 20px;
  width: 100%;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  border: #80dd13 solid;
}

.table th {
  background-color: #80dd13;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background: rgba(128, 221, 19, 0.6);
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
  background: rgba(128, 221, 19, 0.4);
}

@media (max-width: 991px) {
  .graphBox {
    grid-template-columns: 1fr;
    height: auto;
    margin-top: 20px;
    margin-left: -20px;
  }

  .graphBox .box {
    width: 100%;
  }
}
